*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container--1{
    width: 100%;
}

.box-container{
    /* box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%); */
    width: 25%;
    height: 36px;
    max-width: 564px;   
}

.box-container ._container{
    display: flex;
    justify-content: space-around;
    padding-left: 2rem;
    text-decoration: none;
    border: none;
    padding: 0 16px;
     border-radius: 2px 0 0 2px;
     border: 0;
     outline: 0 none;
     font-size: 14px;
     /* height: 36px;  */
     height: 100%;
     width: 50%;
 }

 .searchbar{
    width: 100vw;
    height: 30%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.searchIcon{
    font-size: 20px !important;
    margin-left: 10px;
    
}
.searchInput{
    border:none;
    width: 70%;
    height: 30px;
}
.searchInput:focus{
    outline: none;
}


.me-auto navlink span{
    color: white;
}
.span-heading{
    color: white;
    margin-left: 1rem;
    font-size: 1.2rem;
}
.span-heading-login{
    margin-right: 1rem;
    color: white !important;
    font-size: 1.2rem;
    margin-top: 1rem;
}

.nav-link li:hover{
   text-decoration: underline;
}




#collasible-nav-dropdown{
    color: white;
    margin-left: 1rem;
    font-size: 1.2rem;
    /* border: 2px solid red; */
    height: 2rem;
}